
@import "global";

//$row-width: rem-calc(980) !default;
$total-columns: 12 !default;

@function grid-calc($colNumber, $totalColumns) {
  @return percentage(($colNumber / $totalColumns));
}


@mixin grid-row($widthSize: 980px) {
  width: $widthSize;
  margin-#{$default-float}: -($column-gutter/2);
  margin-#{$opposite-direction}: -($column-gutter/2);
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;

  // Clearfix for all rows
  @include clearfix();
}

@mixin grid-column(
  $columns:false,
  $center:false,
  $collapse:false,
  $float:true) {

  @if $collapse {
    padding-left: 0;
    padding-right: 0;
  }

  @else if $collapse == false {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  // If a column number is given, calculate width
  @if $columns {
    width: grid-calc($columns, $total-columns);
  }

  @if $float {
    @if $float == left or $float == true { float: $default-float; }
    @else if $float == right { float: $opposite-direction; }
    @else { float: none; }
  }

  // If centered, get rid of float and add appropriate margins
  @if $center {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    float: none;
  }
}
