<nav class="nav" ng-controller="HeaderCtl">
    <ul class="left-nav" ng-init="visiter(6, 0)">
        <li  id="logo"><a href="#"></a></li>
        <li ng-class="{active: headerVisited[0]}"><a ng-click="visiter(6, 0)" class="nav-link" href="#">首页</a></li>
        <li ng-class="{active: headerVisited[1]}"><a ng-click="visiter(6, 1)" class="nav-link" href="#">好吃街</a></li>
        <li ng-class="{active: headerVisited[2]}"><a ng-click="visiter(6, 2)" class="nav-link" href="#">大饭局</a></li>
        <li ng-class="{active: headerVisited[3]}"><a ng-click="visiter(6, 3)" class="nav-link" href="#">学做菜</a></li>
        <li ng-class="{active: headerVisited[4]}"><a ng-click="visiter(6, 4)" class="nav-link" href="#">找圈子</a></li>
    </ul>
    <ul class="right-nav">

        <li id="navCollection"
            ng-init="hadin = true;hadout = false"
            ng-mouseenter="hadin = false; hadout = true;"
            ng-mouseleave="hadin = true; hadout = false;">
            <a class="nav-link" href="javascript:void(0)">{{userAccount.name}}<i ng-class="{triangleUp: hadout,triangleDown: hadin}"></i></a>
            <ul class="nav-dropdown">
                <li><a href="javascript:void(0)">我的收藏</a></li>
                <li><a href="javascript:void(0)">我的预订</a></li>
                <li><a href="javascript:void(0)">我的账户</a></li>
                <li><a href="javascript:void(0)">我的设置</a></li>
                <li><a href="javascript:void(0)">模版设置</a></li>
                <li><a href="javascript:void(0)">餐厅管理</a></li>
            </ul>
        </li>
        <li id="navNotice">
            <a class="nav-link" href="javascript:void(0)">通知</a>
            <ul class="nav-dropdown">
                <li><a href="javascript:void(0)">消息</a></li>
                <li><a href="javascript:void(0)">评论</a></li>
                <li><a href="javascript:void(0)">回复</a></li>
                <li><a href="javascript:void(0)">私信</a></li>
                <li><a href="javascript:void(0)">提到我的</a></li>
                <li><a href="javascript:void(0)">赞</a></li>
                <li><a href="javascript:void(0)">系统通知</a></li>
            </ul>
        </li>
        <li id="navPublish">
            <a href="javascript:void(0)">发布</a>
            <ul class="nav-dropdown">
                <li><a ng-click="showPublishDialog('open')" href="javascript:void(0)">话题</a></li>
                <li><a href="javascript:void(0)">饭局</a></li>
                <li><a href="javascript:void(0)">菜谱</a></li>
            </ul>
        </li>
    </ul>
</nav>