<dl>
    <dt id="UserBackgroundPic"></dt>
    <dd id="UserPhoto">
        <img src="Public/uploads/users/u428.png" />
    </dd>
    <dd id="UserName">
        UserName
    </dd>
    <dd id="UserIcon">
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
        <img src="Public/images/small-icon.png" />
    </dd>
    <dd id="UserGroupCount">
        <ul>
            <li>
                <span class="">777</span>
                <span class="user-panel-left">好友</span>
            </li>
            <li>
                <small></small>
            </li>
            <li>
                <span class="">777</span>
                <span class="user-panel-middle">饭局</span>
            </li>
            <li>
                <small></small>
            </li>
            <li>
                <span class="">777</span>
                <span class="user-panel-right">圈子</span>
            </li>

        </ul>
    </dd>
</dl>