<dl>
    <dt>
        <a href="###" class="float-right">修改</a>
    <h2>我的圈子</h2>
    </dt>
    <dd>
        <span class="float-right">125人</span>
        <span><a href="###">北京第一桌球</a></span>
    </dd>
</dl>
<dl>
    <dt>
        <a href="###" class="float-right">求助</a>
    <h2>加入的圈子</h2>
    </dt>
    <dd>
        <span class="float-right">125人</span>
        <span><a href="###">北京第一桌球</a></span>
    </dd>
    <dd>
        <span class="float-right">125人</span>
        <span><a href="###">北京第一桌球</a></span>
    </dd>
    <dd>
        <span class="float-right">125人</span>
        <span><a href="###">北京第一桌球</a></span>
    </dd>
    <dd>
        <span class="float-right">125人</span>
        <span><a href="###">北京第一桌球</a></span>
    </dd>
</dl>
<dl>
    <dt>
        <a href="###" class="float-right">去看看</a>
    <h2>我的好友圈</h2>
    </dt>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
    <dd>
                    <span>
                        <img src="Public/images/player-photo.png" />
                    </span>
        <span><a href="###">好友名称</a></span>
    </dd>
</dl>
<dl>
    <dt>
        <a href="###" class="float-right">换一换</a>
    <h2>热门圈子</h2>
    </dt>
    <dd>
        <ul>
            <li class="group-pic">
                <img src="Public/images/player-photo.png" />
            </li>
            <li class="group-name">
                <a href="###">圈子名称</a>
                <span>(15555人)</span>
            </li>
            <li class="group-level">
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
            </li>
            <li class="group-btn">
                <button>去看看</button>
            </li>
        </ul>
        <ul>
            <li class="group-pic">
                <img src="Public/images/player-photo.png" />
            </li>
            <li class="group-name">
                <a href="###">圈子名称</a>
                <span>(15555人)</span>
            </li>
            <li class="group-level">
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
            </li>
            <li class="group-btn">
                <button>去看看</button>
            </li>
        </ul>
        <ul>
            <li class="group-pic">
                <img src="Public/images/player-photo.png" />
            </li>
            <li class="group-name">
                <a href="###">圈子名称</a>
                <span>(15555人)</span>
            </li>
            <li class="group-level">
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
                <img src="Public/images/little_small.png" />
            </li>
            <li class="group-btn">
                <button>去看看</button>
            </li>
        </ul>
    </dd>
</dl>