.publish-panel {
  background: white;
  -moz-border: 1px solid #e3e3e3;
  -webkit-border: 1px solid #e3e3e3;
  -ms-border: 1px solid #e3e3e3;
  -o-border: 1px solid #e3e3e3;
  border: 1px solid #e3e3e3; }
  .publish-panel .publish-top {
    padding: 15px; }
    .publish-panel .publish-top #inputContent {
      border: 1px solid #e3e3e3; }
      .publish-panel .publish-top #inputContent textarea {
        width: 100%;
        height: 118px;
        min-height: 20px;
        color: #b6b6b6;
        outline-style: none;
        text-shadow: none;
        resize: none;
        padding: 10px;
        border-color: #ffffff;
        border-width: 0;
        font-size: 14px;
        line-height: 20px; }
      .publish-panel .publish-top #inputContent .zoominArea {
        transition-property: height;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        height: 117px; }
  .publish-panel .publish-bottom {
    padding: 0 15px 15px 15px; }
    .publish-panel .publish-bottom ul {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      height: 40px;
      display: inline-block;
      width: 100%; }
      .publish-panel .publish-bottom ul li {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        position: relative;
        margin-left: 10px; }
        .publish-panel .publish-bottom ul li a {
          cursor: pointer; }
          .publish-panel .publish-bottom ul li a i {
            width: 16px;
            height: 16px;
            display: inline-block;
            position: absolute;
            top: 4px; }
          .publish-panel .publish-bottom ul li a span {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            margin-left: 20px; }
        .publish-panel .publish-bottom ul li .publishFace i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../../../images/icon.png) no-repeat -250px 0px;
          margin-top: 8px; }
        .publish-panel .publish-bottom ul li .publishPic i {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../../../images/icon.png) no-repeat -250px -25px;
          margin-top: 9px; }
        .publish-panel .publish-bottom ul li select {
          -webkit-appearance: menulist-button;
          -webkit-box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
          -webkit-rtl-ordering: logical;
          -webkit-transition-delay: 0s, 0s;
          -webkit-transition-duration: 0.15s, 0.15s;
          -webkit-transition-property: border-color, box-shadow;
          -webkit-transition-timing-function: ease-in-out, ease-in-out;
          -webkit-writing-mode: horizontal-tb;
          align-items: center;
          background-color: white;
          background-image: none;
          border-bottom-color: #cccccc;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-image-outset: 0px;
          border-image-repeat: stretch;
          border-image-slice: 100%;
          border-image-source: none;
          border-image-width: 1;
          border-left-color: #cccccc;
          border-left-style: solid;
          border-left-width: 1px;
          border-right-color: #cccccc;
          border-right-style: solid;
          border-right-width: 1px;
          border-top-color: #cccccc;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top-style: solid;
          border-top-width: 1px;
          box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
          box-sizing: border-box;
          color: #555555;
          cursor: default;
          display: block;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 12px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          height: 22px;
          letter-spacing: normal;
          line-height: normal;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          padding-bottom: 6px;
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 6px;
          text-align: start;
          text-indent: 0px;
          text-shadow: none;
          text-transform: none;
          transition-delay: 0s, 0s;
          transition-duration: 0.15s, 0.15s;
          transition-property: border-color, box-shadow;
          transition-timing-function: ease-in-out, ease-in-out;
          white-space: pre;
          width: 110px;
          word-spacing: 0px;
          writing-mode: lr-tb; }
        .publish-panel .publish-bottom ul li .enabledBtn {
          padding: 0;
          margin: 0;
          display: block;
          width: 100px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #ffffff;
          font-weight: bolder;
          background-color: #79bd5f;
          border: 1px solid #c6c6c6;
          cursor: pointer; }
          .publish-panel .publish-bottom ul li .enabledBtn:hover {
            background-color: #a4eb68;
            color: #ffffff;
            font-size: 14px;
            font-weight: bolder; }
        .publish-panel .publish-bottom ul li .disabledBtn {
          padding: 0;
          margin: 0;
          display: block;
          width: 100px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          font-weight: bolder;
          background-color: #e8e8e8;
          border: 1px solid #c6c6c6;
          color: #808080; }
        .publish-panel .publish-bottom ul li .pop-dialog {
          width: 500px;
          height: auto;
          position: absolute;
          top: 50px;
          left: -10px;
          background: #ffffff;
          padding: 15px 0;
          -moz-border: 1px solid #e3e3e3;
          -webkit-border: 1px solid #e3e3e3;
          -ms-border: 1px solid #e3e3e3;
          -o-border: 1px solid #e3e3e3;
          border: 1px solid #e3e3e3; }
          .publish-panel .publish-bottom ul li .pop-dialog .top-triangle {
            display: block;
            width: 0;
            height: 0;
            border-width: 0 10px 10px;
            border-style: solid;
            border-color: transparent transparent #e3e3e3;
            position: absolute;
            top: -10px;
            left: 20px;
            margin-left: -10px; }
            .publish-panel .publish-bottom ul li .pop-dialog .top-triangle em {
              display: block;
              width: 0;
              height: 0;
              border-width: 0 10px 10px;
              border-style: solid;
              border-color: transparent transparent #ffffff;
              position: absolute;
              top: 1px;
              left: -10px; }
          .publish-panel .publish-bottom ul li .pop-dialog .tabs {
            display: block;
            width: auto;
            list-style-type: none;
            height: 25px;
            line-height: 25px;
            margin-left: 15px; }
            .publish-panel .publish-bottom ul li .pop-dialog .tabs .tab-title {
              display: inline-block;
              float: left;
              height: 25px;
              line-height: 25px;
              text-align: left;
              width: 90px;
              margin-left: 1px;
              border-top: 1px solid #e3e3e3;
              border-left: 1px solid #e3e3e3;
              border-right: 1px solid #e3e3e3;
              border-bottom: 1px solid #ffffff;
              bottom: -1px; }
              .publish-panel .publish-bottom ul li .pop-dialog .tabs .tab-title span {
                display: block;
                font-size: 14px;
                width: 90px;
                height: 25px;
                line-height: 25px;
                text-align: center; }
          .publish-panel .publish-bottom ul li .pop-dialog .float-right {
            float: right;
            margin-top: 0;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 0; }
        .publish-panel .publish-bottom ul li .dialog-content {
          width: auto;
          height: 200px;
          border-top: 1px solid #e3e3e3;
          border-bottom: 1px solid #e3e3e3; }
      .publish-panel .publish-bottom ul .float-right {
        float: right;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0; }
